<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Security</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1>Login</h1>


		<form action="#" th:action="@{/auth/signIn}"
			th:object="${request}" method="POST">
<!-- <form action="./login" method="POST"> -->
			<table>
				<tr>
					<input type="text" th:field="*{usernameOrEmail}" placeholder="Username or email"
						class="form-control mb-4 col-4">
				</tr>
				<tr>
					<input type="password" th:field="*{password}" placeholder="Password"
						class="form-control mb-4 col-4">
				</tr>
				<button type="submit" class="btnSave btn-info col-2">Login</button>
				
			</table>
			

		</form>
	</div>
</body>
</html>
